<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand" th:text="|${appName} Postgres-XL Statistics|">Postgres-XL Statistics</span>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:class="${navTag} == 'statement' ? 'active' : null"><a th:href="@{/stat/statement}">Statement</a></li>
					<li th:class="${navTag} == 'activity' ? 'active' : null"><a th:href="@{/stat/activity}">Activity</a></li>
					<li th:class="${navTag} == 'top-sql' ? 'active' : null"><a th:href="@{/stat/top-sql}">Top-SQL</a></li>
					<li th:class="${navTag} == 'tables' ? 'active' : null"><a th:href="@{/stat/tables}">Tables</a></li>
					<li th:class="${navTag} == 'indexes' ? 'active' : null"><a th:href="@{/stat/indexes}">Indexes</a></li>
				</ul>
			</div>
		</div>
	</nav>

</header>
</html>
