<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title th:text="|${appName} Postgres-XL Statistics|">Postgres-XL Statistics</title>

<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
<link href="css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"></link>

<script type="text/javascript" src="js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/app.js" th:src="@{/js/app.js}"></script>
</head>

<body>

	<header th:replace="common/nav :: header"></header>

	<div class="container" role="main" style="padding-top: 70px; padding-bottom: 30px;">

		<div class="jumbotron">
			<form class="form-inline" th:action="@{/stat/indexes}" method="post">
				<div class="form-group">
					<label for="node">Node</label>
					<select class="form-control" id="node" name="node">
						<option th:selected="(${p_node} == null or ${p_node} == 'all') ? 'selected' : null">all</option>
						<th:block th:each="nodename : ${nodenames}">
							<option th:selected="${nodename} == ${p_node} ? 'selected' : null" th:text="${nodename}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="dbs">DBs</label>
					<select class="form-control" id="dbs" name="dbs" multiple="multiple">
						<th:block th:each="map : ${dbnames}">
							<option th:selected="(${p_dbs} != null and ${#arrays.contains(p_dbs, map.db)}) ? 'selected' : null" th:text="${map.db}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="schemas">Schemas</label>
					<select class="form-control" id="schemas" name="schemas" multiple="multiple">
						<th:block th:each="map : ${schemanames}">
							<option th:selected="(${p_schemas} != null and ${#arrays.contains(p_schemas, map.schemaname)}) ? 'selected' : null" th:text="${map.schemaname}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="order_col">Order</label>
					<select class="form-control" id="order_col" name="order_col">
						<option th:selected="'idx_size' == ${p_order_col} ? 'selected' : null">idx_size</option>
						<option th:selected="'idx_scan' == ${p_order_col} ? 'selected' : null">idx_scan</option>
						<option th:selected="'mean_iread' == ${p_order_col} ? 'selected' : null">mean_iread</option>
						<option th:selected="'ibloat' == ${p_order_col} ? 'selected' : null">ibloat</option>
						<option th:selected="'iwastedsize' == ${p_order_col} ? 'selected' : null">iwastedsize</option>
					</select>
					<select class="form-control" id="asc_or_desc" name="asc_or_desc">
						<option th:selected="'desc' == ${p_asc_or_desc} ? 'selected' : null">desc</option>
						<option th:selected="'asc' == ${p_asc_or_desc} ? 'selected' : null">asc</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default">Send</button>
				<div class="checkbox">
      				<input type="checkbox" name="set_default" value="1" />
				</div>
			</form>
		</div>


		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th rowspan="2">#</th>
					<th>db</th>
					<th>schemaname</th>
					<th>tablename</th>
					<th>idxname</th>
					<th>idx_size</th>
					<th>idx_scan</th>
					<th>idx_tup_read</th>
					<th>mean_iread</th>
					<th>idx_tup_fetch</th>
					<th>itups</th>
					<th>ipages</th>
					<th>iotta</th>
					<th>ibloat</th>
					<th>iwastedsize</th>
				</tr>
				<tr>
					<th colspan="14">indexdef</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="map, mapStat : ${rs}">
					<tr>
						<td rowspan="2" th:text="${mapStat.count}">...</td>
						<td th:text="${map.db}">...</td>
						<td th:text="${map.schemaname}">...</td>
						<td th:text="${map.tablename}">...</td>
						<td th:text="${map.idxname}">...</td>
						<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.idx_size)}">...</td>
						<td th:text="${map.idx_scan}">...</td>
						<td th:text="${map.idx_tup_read}">...</td>
						<td th:text="${map.mean_iread}">...</td>
						<td th:text="${map.idx_tup_fetch}">...</td>
						<td th:text="${map.itups}">...</td>
						<td th:text="${map.ipages}">...</td>
						<td th:text="${map.iotta}">...</td>
						<td th:text="${map.ibloat}">...</td>
						<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.iwastedsize)}">...</td>
					</tr>
					<tr>
						<td colspan="14" th:text="${map.indexdef}">...</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	
</body>
</html>