<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title th:text="|${appName} Postgres-XL Statistics|">Postgres-XL Statistics</title>

<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
<link href="css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"></link>

<script type="text/javascript" src="js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/app.js" th:src="@{/js/app.js}"></script>
</head>

<body>

	<header th:replace="common/nav :: header"></header>

	<div class="container" role="main" style="padding-top: 70px; padding-bottom: 30px;">
	
		<div class="jumbotron">
			<form class="form-inline" th:action="@{/stat/tables}" method="post">
				<div class="form-group">
					<label for="node">Node</label>
					<select class="form-control" id="node" name="node">
						<option th:selected="(${p_node} == null or ${p_node} == 'all') ? 'selected' : null">all</option>
						<th:block th:each="nodename : ${nodenames}">
							<option th:selected="${nodename} == ${p_node} ? 'selected' : null" th:text="${nodename}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="dbs">DBs</label>
					<select class="form-control" id="dbs" name="dbs" multiple="multiple">
						<th:block th:each="map : ${dbnames}">
							<option th:selected="(${p_dbs} != null and ${#arrays.contains(p_dbs, map.db)}) ? 'selected' : null" th:text="${map.db}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="schemas">Schemas</label>
					<select class="form-control" id="schemas" name="schemas" multiple="multiple">
						<th:block th:each="map : ${schemanames}">
							<option th:selected="(${p_schemas} != null and ${#arrays.contains(p_schemas, map.schemaname)}) ? 'selected' : null" th:text="${map.schemaname}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="order_col">Order</label>
					<select class="form-control" id="order_col" name="order_col">
						<option th:selected="'total_size' == ${p_order_col} ? 'selected' : null">total_size</option>
						<option th:selected="'seq_scan' == ${p_order_col} ? 'selected' : null">seq_scan</option>
						<option th:selected="'mean_read' == ${p_order_col} ? 'selected' : null">mean_read</option>
						<option th:selected="'bloat' == ${p_order_col} ? 'selected' : null">bloat</option>
						<option th:selected="'wastedbytes' == ${p_order_col} ? 'selected' : null">wastedbytes</option>
					</select>
					<select class="form-control" id="asc_or_desc" name="asc_or_desc">
						<option th:selected="'desc' == ${p_asc_or_desc} ? 'selected' : null">desc</option>
						<option th:selected="'asc' == ${p_asc_or_desc} ? 'selected' : null">asc</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default">Send</button>
				<div class="checkbox">
      				<input type="checkbox" name="set_default" value="1" />
				</div>
			</form>
		</div>
	

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>db</th>
					<th>schemaname</th>
					<th>tablename</th>
					<th>table_size</th>
					<th>indexes_size</th>
					<th>total_size</th>
					<th title="全表扫描次数">seq_scan</th>
					<th title="全表扫描实际读取记录总数">seq_tup_read</th>
					<th title="全表扫描平均读取记录数，受limit语句影响">mean_read</th>
					<th title="索引扫描次数">idx_scan</th>
					<th title="索引扫描实际获取的记录数, 如果平均每次读取记录数很多, 说明数据库倾向使用索引扫描, 建议观察随机IO的性能看情况调整">idx_tup_fetch</th>
					<th title="使用的页数">pages</th>
					<th title="评估出的实际需要页数">otta</th>
					<th title="膨胀倍数">bloat</th>
					<th title="浪费的字节数">wastedbytes</th>
					<th>n_tup_ins</th>
					<th>n_tup_upd</th>
					<th>n_tup_del</th>
					<th>n_tup_hot_upd</th>
					<th>tups</th>
					<th>n_live_tup</th>
					<th>n_dead_tup</th>
					<th>autovacuum_count</th>
					<th>autoanalyze_count</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="map, mapStat : ${rs}">
					<td th:text="${mapStat.count}">...</td>
					<td th:text="${map.db}">...</td>
					<td th:text="${map.schemaname}">...</td>
					<td th:text="${map.tablename}">...</td>
					<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.table_size)}">...</td>
					<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.indexes_size)}">...</td>
					<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.total_size)}">...</td>
					<td th:text="${map.seq_scan}">...</td>
					<td th:text="${map.seq_tup_read}">...</td>
					<td th:text="${map.mean_read}">...</td>
					<td th:text="${map.idx_scan}">...</td>
					<td th:text="${map.idx_tup_fetch}">...</td>
					<td th:text="${map.pages}">...</td>
					<td th:text="${map.otta}">...</td>
					<td th:text="${map.bloat}">...</td>
					<td th:text="${T(com.mfp.pgxl.stat.utils.AllInOne).humanReadableByteSize(map.wastedbytes)}">...</td>
					<td th:text="${map.n_tup_ins}">...</td>
					<td th:text="${map.n_tup_upd}">...</td>
					<td th:text="${map.n_tup_del}">...</td>
					<td th:text="${map.n_tup_hot_upd}">...</td>
					<td th:text="${map.tups}">...</td>
					<td th:text="${map.n_live_tup}">...</td>
					<td th:text="${map.n_dead_tup}">...</td>
					<td th:text="${map.autovacuum_count}">...</td>
					<td th:text="${map.autoanalyze_count}">...</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>