<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="importUser" name="importUser" class="org.whb.springmvc.entity.User">
		<property name="name" value="import user"/>
		<property name="id" value="#{new java.util.Random().nextInt(1000)}"/>
	</bean>
	
</beans>