<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title th:text="|${appName} Postgres-XL Statistics|">Postgres-XL Statistics</title>

<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
<link href="css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"></link>
<link href="css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"></link>

<script type="text/javascript" src="js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" src="js/app.js" th:src="@{/js/app.js}"></script>
</head>

<body>

	<!-- 这种写法，如果nav.html中有多个header tag，则都引入进来 -->
	<header th:replace="common/nav :: header"></header>

	<div class="container" role="main" style="padding-top: 70px; padding-bottom: 30px;">
	
		<div class="jumbotron">
			<form class="form-inline" th:action="@{/stat/statement}" method="post">
				<div class="form-group">
					<label for="node">Node</label>
					<select class="form-control" id="node" name="node">
						<option th:selected="('coord' == ${p_node}) ? 'selected' : null">coord</option>
						<option th:selected="('dn' == ${p_node}) ? 'selected' : null">dn</option>
						<th:block th:each="nodename : ${nodenames}">
							<option th:selected="${nodename} == ${p_node} ? 'selected' : null" th:text="${nodename}">...</option>
						</th:block>
					</select>
				</div>
				<div class="form-group">
					<label for="unit">Unit</label>
					<select class="form-control" id="unit" name="unit">
						<option th:selected="'second' == ${p_unit} ? 'selected' : null">second</option>
						<option th:selected="'minute' == ${p_unit} ? 'selected' : null">minute</option>
						<option th:selected="'hour' == ${p_unit} ? 'selected' : null">hour</option>
						<option th:selected="'day' == ${p_unit} ? 'selected' : null">day</option>
					</select>
				</div>
				<div class="form-group">
                	<label for="begin_time">Begin Time</label>
	                <input class="form-control form_begin_time" size="16" type="text" id="begin_time" name="begin_time" th:value="${p_begin_time}" readonly="readonly" />
            	</div>
				<div class="form-group">
                	<label for="end_time">End Time</label>
	                <input class="form-control form_end_time" size="16" type="text" id="end_time" name="end_time" th:value="${p_end_time}" readonly="readonly" />
            	</div>
				<button type="submit" class="btn btn-default">Send</button>
				<div class="checkbox">
      				<input type="checkbox" name="set_default" value="1" />
				</div>
			</form>
		</div>
	
		<div id="TPU" style="width: 100%; height: 360px;"></div>
	</div>
	

	<script type="text/javascript" th:inline="javascript">
		var p_node = [[${p_node}]]
		var p_unit = [[${p_unit}]]
		var p_begin_time = [[${p_begin_time}]]
		var p_end_time = [[${p_end_time}]]
		var ajax_url = [[@{/stat/statement/}]] + p_node + "/" + p_unit + "/" + p_begin_time + "/" + p_end_time
		
		pgxls.loadChart('TPU', ajax_url);
		
		$('.form_begin_time').datetimepicker({
			format: 'yyyy-mm-dd hh:ii',
			todayBtn: 1,
			autoclose: 1
		});
		
		$('.form_end_time').datetimepicker({
			format: 'yyyy-mm-dd hh:ii',
			todayBtn: 1,
			autoclose: 1
		});
	</script>
	
</body>
</html>